<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8" />
  <title>Messenger</title>
</head>
<body>
  <header>
    <nav>
      <a href="/">Главная</a> |
      <a href="/login">Логин</a> |
      <a href="/register">Регистрация</a> |
      <a href="/chat">Список чатов</a>
    </nav>
  </header>

  <main id="app"></main> <!-- роутер работает только тут -->

  <script type="module" src="/src/main.ts"></script>
</body>
</html>
